.footer {
  background-color: var(--footer-bcg-color);
}


.footer__container {
  @media screen and(min-width: 1200px) {
    display: flex;
    height: 252px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}


.left-right-position {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}

.footer-logo {
  @extend %logo-style;
  margin-bottom: 0px;
  color: var(--logo-color);
  @extend %transit;
}

.footer-contacts {
  padding-top: 0px;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__link {
  @include font($fs: 14px, $fw: 400, $lh: 1.71, $ls: 00.03em);
  font-style: normal;
  color: var(--main-title-color);
  margin-bottom: 9px;
  @extend %transit;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %align-list;
  @extend %content-center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__wrap {
  display: flex;
  justify-content: space-between;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  background-color: var(--footer-bcg-color);
  padding-left: 16px;
  @extend %align-list;
  @extend %content-center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include font($fs: 16px, $fw: 400, $lh: 1.25, $ls: 00.03em);
  color: var(--second-text-color);
  margin-right: 12px;
}

.subscribe-input::placeholder {
  @include font($fs: 16px, $fw: 400, $lh: 1.25, $ls: 00.03em);
  color: var(--second-text-color);
}

.footer-subscribe__btn {
  width: 200px;
  height: 50px;
  @extend %align-list;
  @extend %content-center;
  @include font(16px, 700, 1.87, 00.06em);
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe__btn--icon {
  margin-left: 10px;
}
