.motto__section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header_images/mottoback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 768px) {
    width: 768px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.motto__container {
  text-align: center; 
  width: 100%;   
}


.principles-section__list {
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
}
}

.principles-section__item {
  @media screen and (min-width: 768px) {
    max-width: 270px;
    margin-bottom: 30px;
    flex-basis: calc( 100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.principles-section__box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  @extend %align-list;
  @extend %content-center;
}


.principles-section__text {
  @include font(14px, 400, 1.7, 00.03em);
  color: var(--main-text-color);
  text-align: left;
}

.principles-section__icon {
  max-width: 70px;
  max-height: 70px;
}

.whaddowedo-list {
  @extend %align-list;
  justify-content: space-between;
}

.whaddowedo {
  display: none;
  padding-top: 0px;
  @media screen and (min-width: 480px) {
    
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: inherit;
  }
}

.whaddowedo-list__item {
  position: relative;
}
.whaddowedo-list__box {
  position: absolute;
  bottom: 0;
  @extend %align-list;
  @extend %content-center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.whaddowedo-list__text {
  @include font(14px, 700, 1.14, 00.03em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}