.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
  &.is-hidden {
    .modal {
      transform: scale(1.5);
      transition: transform 1000ms;
    }
  }
}

.modal {
  width: 528px;
  height: 581px;

  @media screen and (min-width: 768px){
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 480px){
    width: 450px;
    height: 609px;
  }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
  padding: 40px;
}


.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  .modal__close-icon {
    fill: var(--accent-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  vertical-align: Top;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
  @media screen and (min-width: 480px) {
    text-align: center
  }
  @media screen and (min-width: 786px) {
    text-align: center
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 14px;
  vertical-align: Top;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__text-field {
  margin-bottom: 10px;
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-text-color);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__textarea {
  color: var(--main-text-color);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 14px;
    line-height: 1.14;
    vertical-align: Top;
    letter-spacing: 0.01em;
  }
}

.modal-form__submit-btn {
  min-width: 200px;
  min-height: 50px;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  outline: none;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 30px auto 40px auto;
}

.modal-form__policy-link {
  color: var(--accent-color);
}

.modal-form__check-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  @media screen and (min-width: 480px) {
    font-size: 12px;
  line-height: 1.17;
  align-items: baseline;
  letter-spacing: 0.03em;
  }
  @media screen and (min-width: 786px) {
    font-size: 12px;
  line-height: 1.17;
  align-items: baseline;
  letter-spacing: 0.03em;
  }
}

.modal-form__check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-icon {
  fill: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form__checkbox:checked + .modal-form__check-text {
  .modal-form__check-item {
    background-color: var(--accent-color);
    border: none;
  }
}

.modal-form__policy-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}