.principles__section {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.principles__container {
  display: flex;
}

.principles-section__list {
  padding: 0;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    margin: -15px;
  }
}

.principles-section__item {
  text-align: left;

  @media screen and (min-width: 450px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  &:not(:last-child) {
    @media (max-width: 767.5px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.principles-section__box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principles-section__text {
  @include font(14px, 400, 1.7, 00.03em);
  color: var(--main-text-color);
  text-align: left;
}

.principles-section__icon {
  max-width: 70px;
  max-height: 70px;
}
