.works__container {
  padding-top: 60px;
  padding-bottom: 40px;
}
.works-button {
  height: 38px;
  background: var(--portfolio-button-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 15px;
  @include font(16px, 500, 1.62, 00.03em);
  text-align: center;
  border-radius: 4px;
  margin-left: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.works__button-list {
  @extend %align-list;
  justify-content: center;
}

.works-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.works-list__item {
  max-width: 350px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 350;
  }
  margin-bottom: 30px;
  margin-left: 30px;

  &:hover .works-list__item-text {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works-list__wrap {
  position: relative;
  overflow: hidden;
}

.works-list__item-text {
  max-width: 370px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 350px;
  }
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 20px;
  border: 1px solid #eeeeee;
}

.works-list__title {
  @include font(18px, 700, 2, 00.06em);
  margin-bottom: 4px;
}

.works-list__aftertitle-text {
  @include font(16px, 400, 1.87, 00.03em);
  color: var(--header-text-color);
}
