.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--accent-color);
    margin-right: 93px;
  }
  
  .logo-footer {
    color: var(--second-title-color);
  }
  
  .logo-header {
    color: var(--main-title-color);

  }
  