.title-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.title-two {
  @include font(36px, 700, 1.16, 00.03em);
  text-align: center;
  margin-bottom: 50px;
  color: var(--second-title-color);
}

.title-three {
  @include font(14px, 700, 1.14, 00.03em);
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--second-title-color);
}


.title-four {
    @include font(16px, 500, 1.18, 00.03em);
    color: var(--second-title-color);
  }

  .title-five {
    @include font($fs: 14px, $fw: 500, $lh: 1.71, $ls: 00.03em);
    font-style: normal;
    margin-bottom: 20px;
    color: var(--main-title-color);
    text-transform: uppercase;
  }