:root {
  --header-text-color: #757575;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #2196f3;
  --logo-second-color: #212121;
  --logo-third-color: #ffffff;
  --accent-color: #2196f3;
  --main-btn-color: #2196f3;
  --footer-bcg-color: #2f303a;
  --portfolio-button-color: #f5f4fa;
  --motto-background-color: rgba(47, 48, 58, 0.4);
}
